%p
  %strong Title:
  = @article.title
%p
  %strong Description:
  = @article.description
%p
  %strong Text:
  = @article.text
%h2 Comments
= render @article.comments

- if user_signed_in? || admin_signed_in?
  %h2 Add a Comment:
  = render "comments/form"
- else
  %p
    %a.btn.btn-success{:href => new_user_session_path, :role => "button"} Sign in to add a comment

= link_to 'Back', articles_path, {:class => "btn btn-primary"}
-  if admin_signed_in?
  = link_to 'Edit', edit_article_path(@article), {:class => "btn btn-warning"}
